.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, #360033, #0b8793);
  font-family: Bungee !important;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #fff;

    ion-button {
      font-family: Bungee !important;
    }
  }

  .game {
    width: 100%;
    height: 200px;
    margin: auto;
    background-image: linear-gradient(to bottom, #DC2424, #4A569D);
    border-top: 10px solid;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top left, #fe8c00, #f83600);

    #player {
      width: 40px;
      height: 40px;
      position: relative;
      background-color: black;
      top: 140px;
      left: 40px;
      border-radius: 25%;
      background-image: linear-gradient(to bottom, #00d2ff, #3a7bd5);
    }

    .jump {
      animation: jump 0.6s linear;
    }

    #obstacle {
      width: 20px;
      height: 40px;
      position: relative;
      top: 100px;
      left: 100%;
      border-radius: 15%;
      animation: block 1.6s infinite;
      background-image: linear-gradient(to bottom, #780206, #061161);
    }

    #airObstacle {
      width: 20px;
      height: 40px;
      position: relative;
      top: 40px;
      left: 100%;
      border-radius: 15%;
      animation: block 1.6s infinite;
      background-image: linear-gradient(to bottom, #780206, #061161);
    }
  }
}

@keyframes jump {
  0% {
    top: 140px;
  }
  30% {
    top: 90px;
  }
  50% {
    top: 50px;
  }
  80% {
    top: 90px;
  }
  100% {
    top: 140px;
  }
}

@keyframes block {
  0% {
    left: 110%;
  }
  100% {
    left: -160px;
  }
}


